In [1]:
import pandas as pd
import os

### Reading All Datasets

In [2]:
# reading all csv files from the sub-folders of the folder 'data'
# and concatenate them into one dataframe
path = 'data'
all_files = []
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith('.csv'):
            all_files.append(os.path.join(root, file))

df = pd.concat((pd.read_csv(f) for f in all_files))
df.head()

C:\Users\fazal_ix0ll8n\AppData\Local\Temp\ipykernel_25916\2542696725.py:10: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))
C:\Users\fazal_ix0ll8n\AppData\Local\Temp\ipykernel_25916\2542696725.py:10: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2014,1,1,30,4,2014-01-30,AA,19805,AA,N006AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,1,1,31,5,2014-01-31,AA,19805,AA,N003AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,1,1,3,2014-01-01,AA,19805,AA,N002AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,1,1,2,4,2014-01-02,AA,19805,AA,N002AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,1,1,3,5,2014-01-03,AA,19805,AA,N014AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Observing the columns

In [3]:
df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       ...
       'Div4TailNum', 'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID',
       'Div5WheelsOn', 'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff',
       'Div5TailNum', 'Unnamed: 109'],
      dtype='object', length=110)

#### Observing the data

In [4]:
df.info

<bound method DataFrame.info of         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
0       2014        1      1          30          4  2014-01-30
1       2014        1      1          31          5  2014-01-31
2       2014        1      1           1          3  2014-01-01
3       2014        1      1           2          4  2014-01-02
4       2014        1      1           3          5  2014-01-03
...      ...      ...    ...         ...        ...         ...
430597  2014        1      2          19          3  2014-02-19
430598  2014        1      2          20          4  2014-02-20
430599  2014        1      2          21          5  2014-02-21
430600  2014        1      2          24          1  2014-02-24
430601  2014        1      2          25          2  2014-02-25

       Reporting_Airline  DOT_ID_Reporting_Airline  \
0                     AA                     19805
1                     AA                     19805
2                     AA                     19805
3                     AA                     19805
4                     AA                     19805
...                  ...                       ...
430597                MQ                     20398
430598                MQ                     20398
430599                MQ                     20398
430600                MQ                     20398
430601                MQ                     20398

       IATA_CODE_Reporting_Airline Tail_Number  ...  Div4TailNum  Div5Airport  \
0                               AA      N006AA  ...          NaN          NaN
1                               AA      N003AA  ...          NaN          NaN
2                               AA      N002AA  ...          NaN          NaN
3                               AA      N002AA  ...          NaN          NaN
4                               AA      N014AA  ...          NaN          NaN
...                            ...         ...  ...          ...          ...
430597                          MQ      N843MQ  ...          NaN          NaN
430598                          MQ      N800MQ  ...          NaN          NaN
430599                          MQ      N803MQ  ...          NaN          NaN
430600                          MQ      N839MQ  ...          NaN          NaN
430601                          MQ      N816MQ  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
430597            NaN               NaN          NaN            NaN
430598            NaN               NaN          NaN            NaN
430599            NaN               NaN          NaN            NaN
430600            NaN               NaN          NaN            NaN
430601            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
430597              NaN            NaN         NaN           NaN
430598              NaN            NaN         NaN           NaN
430599              NaN            NaN         NaN           NaN
430600              NaN            NaN         NaN           NaN
430601              NaN            NaN         NaN           NaN

[902551 rows x 110 columns]>

### Data Clean-up
#### Removing the column that has more than 50% null values

In [5]:
# Removing columns with more than 50% null values
df_main = df.dropna(axis=1, thresh=len(df)*0.5)

# Display the cleaned DataFrame
print("\nDataFrame after removing columns with more than 50% null values:")
df_main.head(20)

DataFrame after removing columns with more than 50% null values:

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,2014,1,1,30,4,2014-01-30,AA,19805,AA,N006AA,...,1000-1059,0.0,0.0,75.0,76.0,56.0,1.0,328.0,2,0
1,2014,1,1,31,5,2014-01-31,AA,19805,AA,N003AA,...,1000-1059,0.0,0.0,75.0,84.0,54.0,1.0,328.0,2,0
2,2014,1,1,1,3,2014-01-01,AA,19805,AA,N002AA,...,1300-1359,0.0,0.0,85.0,78.0,57.0,1.0,328.0,2,0
3,2014,1,1,2,4,2014-01-02,AA,19805,AA,N002AA,...,1300-1359,0.0,0.0,85.0,79.0,53.0,1.0,328.0,2,0
4,2014,1,1,3,5,2014-01-03,AA,19805,AA,N014AA,...,1300-1359,0.0,0.0,85.0,75.0,52.0,1.0,328.0,2,0
5,2014,1,1,4,6,2014-01-04,AA,19805,AA,N010AA,...,1300-1359,0.0,0.0,85.0,80.0,57.0,1.0,328.0,2,0
6,2014,1,1,5,7,2014-01-05,AA,19805,AA,N011AA,...,1300-1359,0.0,0.0,85.0,78.0,58.0,1.0,328.0,2,0
7,2014,1,1,6,1,2014-01-06,AA,19805,AA,N002AA,...,1300-1359,0.0,0.0,85.0,77.0,52.0,1.0,328.0,2,0
8,2014,1,1,7,2,2014-01-07,AA,19805,AA,N012AA,...,1300-1359,0.0,0.0,85.0,83.0,50.0,1.0,328.0,2,0
9,2014,1,1,8,3,2014-01-08,AA,19805,AA,N014AA,...,1300-1359,0.0,0.0,85.0,97.0,63.0,1.0,328.0,2,0
10,2014,1,1,9,4,2014-01-09,AA,19805,AA,N013AA,...,1300-1359,0.0,0.0,85.0,80.0,58.0,1.0,328.0,2,0
11,2014,1,1,10,5,2014-01-10,AA,19805,AA,N008AA,...,1300-1359,0.0,0.0,85.0,80.0,54.0,1.0,328.0,2,0
12,2014,1,1,11,6,2014-01-11,AA,19805,AA,N008AA,...,1300-1359,0.0,0.0,85.0,75.0,54.0,1.0,328.0,2,0
13,2014,1,1,12,7,2014-01-12,AA,19805,AA,N014AA,...,1300-1359,0.0,0.0,85.0,88.0,57.0,1.0,328.0,2,0
14,2014,1,1,13,1,2014-01-13,AA,19805,AA,N010AA,...,1300-1359,0.0,0.0,85.0,87.0,55.0,1.0,328.0,2,0
15,2014,1,1,14,2,2014-01-14,AA,19805,AA,N598AA,...,1300-1359,0.0,0.0,85.0,76.0,58.0,1.0,328.0,2,0
16,2014,1,1,15,3,2014-01-15,AA,19805,AA,N005AA,...,1300-1359,0.0,0.0,85.0,74.0,51.0,1.0,328.0,2,0
17,2014,1,1,16,4,2014-01-16,AA,19805,AA,N013AA,...,1300-1359,0.0,0.0,85.0,86.0,52.0,1.0,328.0,2,0
18,2014,1,1,17,5,2014-01-17,AA,19805,AA,N001AA,...,1300-1359,0.0,0.0,85.0,73.0,51.0,1.0,328.0,2,0
19,2014,1,1,18,6,2014-01-18,AA,19805,AA,N009AA,...,1300-1359,0.0,0.0,85.0,72.0,50.0,1.0,328.0,2,0

In [6]:
df_main.shape

(902551, 56)

In [7]:
for name in df_main.columns:
    print(name)

Year
Quarter
Month
DayofMonth
DayOfWeek
FlightDate
Reporting_Airline
DOT_ID_Reporting_Airline
IATA_CODE_Reporting_Airline
Tail_Number
Flight_Number_Reporting_Airline
OriginAirportID
OriginAirportSeqID
OriginCityMarketID
Origin
OriginCityName
OriginState
OriginStateFips
OriginStateName
OriginWac
DestAirportID
DestAirportSeqID
DestCityMarketID
Dest
DestCityName
DestState
DestStateFips
DestStateName
DestWac
CRSDepTime
DepTime
DepDelay
DepDelayMinutes
DepDel15
DepartureDelayGroups
DepTimeBlk
TaxiOut
WheelsOff
WheelsOn
TaxiIn
CRSArrTime
ArrTime
ArrDelay
ArrDelayMinutes
ArrDel15
ArrivalDelayGroups
ArrTimeBlk
Cancelled
Diverted
CRSElapsedTime
ActualElapsedTime
AirTime
Flights
Distance
DistanceGroup
DivAirportLandings

In [8]:
df_main.shape[0]

902551

In [9]:
list(set(df_main.Year))

[2014]

In [10]:
list(set(df_main.Month))

[1, 2]

In [14]:
df_main[['Year', 'Month', 'DayofMonth']].head()

   Year  Month  DayofMonth
0  2014      1          30
1  2014      1          31
2  2014      1           1
3  2014      1           2
4  2014      1           3

In [16]:
date_dict = {'year': df_main["Year"], 'month': df_main["Month"], 'day': df_main["DayofMonth"]}
# merge year month and day into one column
df_main['Date'] = pd.to_datetime(date_dict)
df_main.Date.head()

C:\Users\fazal_ix0ll8n\AppData\Local\Temp\ipykernel_25916\2461523644.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['Date'] = pd.to_datetime(date_dict)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings,Date
0,2014,1,1,30,4,2014-01-30,AA,19805,AA,N006AA,...,0.0,0.0,75.0,76.0,56.0,1.0,328.0,2,0,2014-01-30
1,2014,1,1,31,5,2014-01-31,AA,19805,AA,N003AA,...,0.0,0.0,75.0,84.0,54.0,1.0,328.0,2,0,2014-01-31
2,2014,1,1,1,3,2014-01-01,AA,19805,AA,N002AA,...,0.0,0.0,85.0,78.0,57.0,1.0,328.0,2,0,2014-01-01
3,2014,1,1,2,4,2014-01-02,AA,19805,AA,N002AA,...,0.0,0.0,85.0,79.0,53.0,1.0,328.0,2,0,2014-01-02
4,2014,1,1,3,5,2014-01-03,AA,19805,AA,N014AA,...,0.0,0.0,85.0,75.0,52.0,1.0,328.0,2,0,2014-01-03

In [17]:
df_main.Date.head()

0   2014-01-30
1   2014-01-31
2   2014-01-01
3   2014-01-02
4   2014-01-03
Name: Date, dtype: datetime64[ns]

In [19]:
# calculate months in a date range
!pip install monthdelta

Collecting monthdelta
  Downloading MonthDelta-0.9.1.zip (3.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: monthdelta
  Building wheel for monthdelta (setup.py): started
  Building wheel for monthdelta (setup.py): finished with status 'done'
  Created wheel for monthdelta: filename=MonthDelta-0.9.1-py3-none-any.whl size=3094 sha256=0ceee2197237c0b3b14f918942c933136c587080dd2bd0e289bd75fbad8ddcb8
  Stored in directory: c:\users\fazal_ix0ll8n\appdata\local\pip\cache\wheels\38\89\4e\711807a2f55f77b02bcb59aba084338cd87515173546385385
Successfully built monthdelta
Installing collected packages: monthdelta
Successfully installed monthdelta-0.9.1

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
from monthdelta import monthmod

# find the difference between two dates
monthmod(min(df_main['Date']), max(df_main['Date']))

(monthdelta(1), Timedelta('27 days 00:00:00'))

In [30]:
df_main.Date.min()

Timestamp('2014-01-01 00:00:00')

In [31]:
df_main.Date.max()

Timestamp('2014-02-28 00:00:00')

#### Calculating the months between start and end date

In [35]:
from dateutil.relativedelta import relativedelta
import datetime

# Define two dates
date1 = df_main.Date.max()
date2 = df_main.Date.min()

# Calculate the difference in months
difference = relativedelta(date1, date2)
months_difference = difference.years * 12 + difference.months

print(f"The difference between {date1} and {date2} is {months_difference+1} months.")

The difference between 2014-02-28 00:00:00 and 2014-01-01 00:00:00 is 2 months.

In [36]:
# airlines covered in the dataset
list(set(df_main.Reporting_Airline))

['VX',
 'FL',
 'AS',
 'EV',
 'AA',
 'DL',
 'OO',
 'UA',
 'MQ',
 'WN',
 'HA',
 'US',
 'B6',
 'F9']