In [15]:
import pandas as pd
import os

### Reading All Datasets

In [16]:
# reading all csv files from the sub-folders of the folder 'data'
# and concatenate them into one dataframe
path = 'data'
all_files = []
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith('.csv'):
            all_files.append(os.path.join(root, file))

df = pd.concat((pd.read_csv(f) for f in all_files))
df.head()

C:\Users\fazal_ix0ll8n\AppData\Local\Temp\ipykernel_11804\2542696725.py:10: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))
C:\Users\fazal_ix0ll8n\AppData\Local\Temp\ipykernel_11804\2542696725.py:10: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2014,1,1,30,4,2014-01-30,AA,19805,AA,N006AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,1,1,31,5,2014-01-31,AA,19805,AA,N003AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,1,1,3,2014-01-01,AA,19805,AA,N002AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,1,1,2,4,2014-01-02,AA,19805,AA,N002AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,1,1,3,5,2014-01-03,AA,19805,AA,N014AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Observing the columns

In [17]:
df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       ...
       'Div4TailNum', 'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID',
       'Div5WheelsOn', 'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff',
       'Div5TailNum', 'Unnamed: 109'],
      dtype='object', length=110)

#### Observing the data

In [18]:
df.info

<bound method DataFrame.info of         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
0       2014        1      1          30          4  2014-01-30
1       2014        1      1          31          5  2014-01-31
2       2014        1      1           1          3  2014-01-01
3       2014        1      1           2          4  2014-01-02
4       2014        1      1           3          5  2014-01-03
...      ...      ...    ...         ...        ...         ...
430597  2014        1      2          19          3  2014-02-19
430598  2014        1      2          20          4  2014-02-20
430599  2014        1      2          21          5  2014-02-21
430600  2014        1      2          24          1  2014-02-24
430601  2014        1      2          25          2  2014-02-25

       Reporting_Airline  DOT_ID_Reporting_Airline  \
0                     AA                     19805
1                     AA                     19805
2                     AA                     19805
3                     AA                     19805
4                     AA                     19805
...                  ...                       ...
430597                MQ                     20398
430598                MQ                     20398
430599                MQ                     20398
430600                MQ                     20398
430601                MQ                     20398

       IATA_CODE_Reporting_Airline Tail_Number  ...  Div4TailNum  Div5Airport  \
0                               AA      N006AA  ...          NaN          NaN
1                               AA      N003AA  ...          NaN          NaN
2                               AA      N002AA  ...          NaN          NaN
3                               AA      N002AA  ...          NaN          NaN
4                               AA      N014AA  ...          NaN          NaN
...                            ...         ...  ...          ...          ...
430597                          MQ      N843MQ  ...          NaN          NaN
430598                          MQ      N800MQ  ...          NaN          NaN
430599                          MQ      N803MQ  ...          NaN          NaN
430600                          MQ      N839MQ  ...          NaN          NaN
430601                          MQ      N816MQ  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
430597            NaN               NaN          NaN            NaN
430598            NaN               NaN          NaN            NaN
430599            NaN               NaN          NaN            NaN
430600            NaN               NaN          NaN            NaN
430601            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
430597              NaN            NaN         NaN           NaN
430598              NaN            NaN         NaN           NaN
430599              NaN            NaN         NaN           NaN
430600              NaN            NaN         NaN           NaN
430601              NaN            NaN         NaN           NaN

[902551 rows x 110 columns]>

### Data Clean-up
#### Removing the column that has more than 50% null values

In [26]:
# Removing columns with more than 50% null values
df_main = df.dropna(axis=1, thresh=len(df)*0.5)

# Display the cleaned DataFrame
print("\nDataFrame after removing columns with more than 50% null values:")
df_main.head(20)

DataFrame after removing columns with more than 50% null values:

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,2014,1,1,30,4,2014-01-30,AA,19805,AA,N006AA,...,1000-1059,0.0,0.0,75.0,76.0,56.0,1.0,328.0,2,0
1,2014,1,1,31,5,2014-01-31,AA,19805,AA,N003AA,...,1000-1059,0.0,0.0,75.0,84.0,54.0,1.0,328.0,2,0
2,2014,1,1,1,3,2014-01-01,AA,19805,AA,N002AA,...,1300-1359,0.0,0.0,85.0,78.0,57.0,1.0,328.0,2,0
3,2014,1,1,2,4,2014-01-02,AA,19805,AA,N002AA,...,1300-1359,0.0,0.0,85.0,79.0,53.0,1.0,328.0,2,0
4,2014,1,1,3,5,2014-01-03,AA,19805,AA,N014AA,...,1300-1359,0.0,0.0,85.0,75.0,52.0,1.0,328.0,2,0
5,2014,1,1,4,6,2014-01-04,AA,19805,AA,N010AA,...,1300-1359,0.0,0.0,85.0,80.0,57.0,1.0,328.0,2,0
6,2014,1,1,5,7,2014-01-05,AA,19805,AA,N011AA,...,1300-1359,0.0,0.0,85.0,78.0,58.0,1.0,328.0,2,0
7,2014,1,1,6,1,2014-01-06,AA,19805,AA,N002AA,...,1300-1359,0.0,0.0,85.0,77.0,52.0,1.0,328.0,2,0
8,2014,1,1,7,2,2014-01-07,AA,19805,AA,N012AA,...,1300-1359,0.0,0.0,85.0,83.0,50.0,1.0,328.0,2,0
9,2014,1,1,8,3,2014-01-08,AA,19805,AA,N014AA,...,1300-1359,0.0,0.0,85.0,97.0,63.0,1.0,328.0,2,0
10,2014,1,1,9,4,2014-01-09,AA,19805,AA,N013AA,...,1300-1359,0.0,0.0,85.0,80.0,58.0,1.0,328.0,2,0
11,2014,1,1,10,5,2014-01-10,AA,19805,AA,N008AA,...,1300-1359,0.0,0.0,85.0,80.0,54.0,1.0,328.0,2,0
12,2014,1,1,11,6,2014-01-11,AA,19805,AA,N008AA,...,1300-1359,0.0,0.0,85.0,75.0,54.0,1.0,328.0,2,0
13,2014,1,1,12,7,2014-01-12,AA,19805,AA,N014AA,...,1300-1359,0.0,0.0,85.0,88.0,57.0,1.0,328.0,2,0
14,2014,1,1,13,1,2014-01-13,AA,19805,AA,N010AA,...,1300-1359,0.0,0.0,85.0,87.0,55.0,1.0,328.0,2,0
15,2014,1,1,14,2,2014-01-14,AA,19805,AA,N598AA,...,1300-1359,0.0,0.0,85.0,76.0,58.0,1.0,328.0,2,0
16,2014,1,1,15,3,2014-01-15,AA,19805,AA,N005AA,...,1300-1359,0.0,0.0,85.0,74.0,51.0,1.0,328.0,2,0
17,2014,1,1,16,4,2014-01-16,AA,19805,AA,N013AA,...,1300-1359,0.0,0.0,85.0,86.0,52.0,1.0,328.0,2,0
18,2014,1,1,17,5,2014-01-17,AA,19805,AA,N001AA,...,1300-1359,0.0,0.0,85.0,73.0,51.0,1.0,328.0,2,0
19,2014,1,1,18,6,2014-01-18,AA,19805,AA,N009AA,...,1300-1359,0.0,0.0,85.0,72.0,50.0,1.0,328.0,2,0

In [28]:
df_main.shape

(902551, 56)

In [29]:
for name in df_main.columns:
    print(name)

Year
Quarter
Month
DayofMonth
DayOfWeek
FlightDate
Reporting_Airline
DOT_ID_Reporting_Airline
IATA_CODE_Reporting_Airline
Tail_Number
Flight_Number_Reporting_Airline
OriginAirportID
OriginAirportSeqID
OriginCityMarketID
Origin
OriginCityName
OriginState
OriginStateFips
OriginStateName
OriginWac
DestAirportID
DestAirportSeqID
DestCityMarketID
Dest
DestCityName
DestState
DestStateFips
DestStateName
DestWac
CRSDepTime
DepTime
DepDelay
DepDelayMinutes
DepDel15
DepartureDelayGroups
DepTimeBlk
TaxiOut
WheelsOff
WheelsOn
TaxiIn
CRSArrTime
ArrTime
ArrDelay
ArrDelayMinutes
ArrDel15
ArrivalDelayGroups
ArrTimeBlk
Cancelled
Diverted
CRSElapsedTime
ActualElapsedTime
AirTime
Flights
Distance
DistanceGroup
DivAirportLandings

In [31]:
df_main.shape[0]

902551

In [37]:
list(set(df_main.Year))

[2014]

In [36]:
list(set(df_main.Month))

[1, 2]